section.contact
    .container.contact__content
        a(href="#", title="title").contact__phone
            i.icon-phone
            span.contact__phone-text +998 (71) 123-45-67
        .contact__group 
            span.contact__item Работаем 7 дней в неделю
            span.contact__item 9:00 - 18:00
        a.contact__enter(href="#")
            i.icon-enter
            span.contact__enter-text Войти / Регистрация 