section.new 
    .container 
        h2.title новые поступления
        .new__cards
            - for (var i = 0; i < 8; i++)
                .card 
                    .card__box 
                        img.card__img(src="../img/clock.png", alt="clock")
                    h3.card__title Louis XVI ATHOS
                    p.card__price 4 500 000 сум.